#Title {
	font-family: 'Satisfy', cursive;
	font-size: 150px;
	color:#694ad9;
	text-align: center;
	margin-top: 5%; 
}

#Subtitle {
	font-family: "Times New Roman";
	font-size: 40px;
	color:  #9999ff;
	text-align: center; 
	margin-top: 2%;
}

#button {
	text-align: center; 
	flex: .3;
	margin-top: 2%;  
}
 
#content {
	display: flex; 
	flex-direction: column; 
	align-items: center; 
}